/*
General
========================================================
*/
*{
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Catamaran;
}

#container{
	width: 700px;
	margin: 0 auto;
}

.center{
	text-align: center;
}
/*
Titles
========================================================
*/
.main-title{
	font-size: 3em;
	margin: 25px 0;
	font-family: Lobster;
}

.support-title{
	font-size: 1.5em;
	margin: 40px 0;
	font-family: Lobster;
}

/*
Form
========================================================
*/
.form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.form-button{
	margin: 20px 0;
	background-color: #21e061;
	color: #fff;
	cursor: pointer;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	transition: 500ms all ease;
}

.form-button:hover{
	background-color: #21b252;
}


input[type="text"]{
	border: 3px solid rgba(11,97,164,.5)
}

/*
Item style
========================================================
*/
.showTasks{
	margin-top: 15px;
	height: 48px;
}

.showTasks ul{
	text-align: center;
}

.showTasks ul li{
	list-style-type: none;
	padding: 10px;
	background-color: #fafafa;
	color: #0b61a4;
	border-bottom: 1px solid #0b61a4;
}

.task-edit, .task-remove{
	float: right;
	width: 20px;
	padding-left: 15px;
	padding-top: 3px;
}

.task-remove img, .task-edit img{
	width: 20px;
	display: none;
	cursor: pointer;
}


/*
Message highlight
========================================================
*/


/*
Response
========================================================
*/

.task{
	width: 100%;
	text-align: center;
}

.alert-success{
	color: #21e061;
	margin-bottom: 20px;
}

.alert-failed{
	color: #dd4021;
	margin-bottom: 20px;
}

.btn-back{
	background-color: #21e061;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	transition: 500ms all ease;
}

.btn-back:hover{
	background-color: #21b252;
}
